/* .navbar-list{
    
    font-family: Galliard;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.02px;
    text-align: left;

}
.back-color{
    background: rgba(43, 53, 79, 1);
    border-bottom: 1px solid rgba(220, 210, 187, 1)
    /* background: rgba(242, 235, 224, 1); */

    /* As a certified..- background: rgba(103, 117, 87, 1); 
     Add to cart..- background: rgba(22, 79, 73, 1);
     checkout, write a review..-  border: 2px solid rgba(22, 79, 73, 1)
     search box down .. - background:rgb(22, 79, 73, 1); border: 1px solid rgba(43, 53, 79, 1)
     Book a free 25 minute consultation bbackground color - background: rgba(242, 231, 206, 1);
     Free BD shipping.. - background: rgba(255, 107, 110, 1);
     subscribe to the newsletter.. - background: rgba(21, 50, 45, 1);
     */
    
/* } */